* {
  box-sizing: border-box;
}
html {
  background-color: rgb(79, 79, 197);
}

.form-div {
  background: #7500fa;
  padding: 2.5em;
}

.background-card {
  background: white;
  height: fit-content;
  margin: auto;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 2em;
  margin: auto;
}

label {
  font-family: sans-serif;
  font-size: 1.2em;
}

form input,
form textarea {
  padding: 0.5em;
  margin: 1em;
  border-radius: 5px;
  border: solid black 2px;
}

button {
  background-color: rgb(245, 110, 245);
  border-radius: 5px;
  border: none;
  width: fit-content;
  align-self: flex-end;
  padding: 1em;
  font-size: 1.2em;
}
