.app {
  display: flex;
  justify-content: center;
}
.app-form {
  width: 50%;
}

.people {
  width: 100%;
}

@media (max-width: 950px) {
  .app {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .app-form {
    width: 100%;
  }
}
