<div class="people-sidebar">
    <filter-textbox  (searchCriteria)="searchThis($event)"></filter-textbox>
    <div class="people">
        <table>
            <thead>
                <tr>
                    <th>
                    Name
                    </th>
                    <th>Address</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Age</th>
                    <th>Experience</th>
                    <th>Employment History</th>
                </tr>
            </thead>
        <tr *ngFor="let item of filteredCustomers" >
            <td>
                <button class="showBtn" (click)="showInfoBox(item)">
                {{item.name | titlecase}}  
                </button>
            </td>
            <td>{{item.address | titlecase}}</td>
            <td>{{item.phoneNumber}}</td>
            <td>{{item.email}}</td>
            <td>{{item.age}} Yrs</td>
            <td>{{item.experience}}</td>
            <td>{{item.employmentHistory | titlecase}}</td>
        </tr>
        </table>

        <div [hidden]="item.hidden" *ngFor='let item of filteredCustomers' class="personal-info-card">
            <div class="contact">
                <h1>{{item.name}} <span class="age">Age: 24</span></h1>
                <p>{{item.email}}</p>
                <p>{{item.phoneNumber}}</p>
            </div>
            <div class="details">
                <h1>{{item.address}}</h1>
                <h1>{{item.employmentHistory}}</h1>
                <h1>{{item.experience}}</h1>
            </div>
            <button class="hideBtn" (click)="hideInfoBox(item)">Hide Info</button>
        </div>
    </div>
</div>


